{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y" style="min-height: 84vh">

    <!-- ============================ COMPONENT FORGOT PASSWORD ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top: 100px;">
        <div class="card-body">
            {% include 'includes/alerts.html' %}
            <h4 class="card-title mb-4">Forgot Password</h4>
            <form action="{% url 'forgot_password' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="mobile">Enter Your Mobile Number</label>
                    <input type="text" class="form-control" placeholder="Mobile Number" name="mobile" id="mobile" required>
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Send OTP </button>
                </div> <!-- form-group// -->
            </form>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->

    <br><br>
    <!-- ============================ COMPONENT FORGOT PASSWORD END.// ================================= -->

</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
