{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y" style="min-height: 84vh">

    <!-- ============================ COMPONENT RESET PASSWORD ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top: 100px;">
        <div class="card-body">
            <!--{% include 'includes/alerts.html' %}-->
            <h4 class="card-title mb-4">Reset Password</h4>
            <form action="{% url 'new_password' user_id=user_id %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input type="password" class="form-control" placeholder="New Password" name="password" id="password" required>
                </div> <!-- form-group// -->
                <div class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password" id="confirm_password" required>
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Reset Password </button>
                </div> <!-- form-group// -->
            </form>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->

    <br><br>
    <!-- ============================ COMPONENT RESET PASSWORD END.// ================================= -->

</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
