{% extends 'adminapp/base.html' %}

{% load static %}

{% block content %}
<br>
<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Hoverable Table rows -->
    <div class="card py-3 mb-4">
        <div class="table-head">
            <h5 class="card-header" style="display: inline-block; margin-right: 900px;">Banners</h5>
            <a href="/adminapp/add_banners" class="btn btn-primary">Add Banners</a>
        </div>
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Banner ID</th>
                        <th>Banner Name</th>
                        <th>Images</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for carousel in all_carousels %}
                    <tr>
                        <td>{{ carousel.id }}</td>
                        <td>{{ carousel.title }}</td>
                        <td>
                            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                {% for image in carousel.images.all %}
                                <li
                                    data-bs-toggle="tooltip"
                                    data-popup="tooltip-custom"
                                    data-bs-placement="top"
                                    class="avatar avatar-xs pull-up"
                                    title="{{ image.caption }}"
                                >
                                    <img src="{{ image.image.url }}" alt="Image" class="rounded-circle" />
                                </li>
                                {% endfor %}
                            </ul>
                            
                        </td>
                        <td>
                          {% if carousel.is_active %}
                          <span class="badge bg-label-primary me-1">Active</span>
                          {% else %}
                          <span class="badge bg-label-danger me-1">Deactivate</span>
                          {% endif %}
                      </td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'edit_banners' carousel.id %}"
                                        ><i class="bx bx-edit-alt me-1"></i> Edit</a
                                    >
                                    <a class="dropdown-item" href="{% url 'delete_banners' carousel.id %}"
                                        ><i class="bx bx-trash me-1"></i> Delete
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!--/ Hoverable Table rows -->
</div>
{% endblock %}
